.places h1 {
  font-size: 30px;
  text-align: left;
}

.places article {
  width: 390px;
  border: 1px solid #ff5a5f;
  padding: 20px;
  margin: 20px;
  display: inline-table;
}

.places article h2 {
  font-size: 30px;
}
